@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: .9rem;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(186, 179, 179);
  border-radius: 2rem;
  border-right: .3rem;
  border-style: solid;
  border-color: transparent;
  background-clip: content-box;
}


.lap {
  background-image: url(../assets/laptop.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.spinner {
  animation: rotate 0.5s infinite linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}








.thumbnail .keen-slider__slide {
  font-size: 20px;
  margin-top: 10px;
  height: 40px;
}
.thumbnail .keen-slider__slide {
  cursor: pointer;
}
.thumbnail .keen-slider__slide.active {
  border: 2px dashed black;
}